/* Global CSS */

*{
    margin: 0;
    padding: 0;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
    html {
      font-size: 62.5%;
    }
    .movie-picture-box{
        flex: 1;
    }

}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 800px) {
    html {
      font-size: 1.8vw;
    }

    .movie-picture-box{
        flex: 0;
    }
    
  }

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
}

h4, h5{
    font-size: 2.8rem;
}

li{
    font-size: 2rem;
	list-style-type: none;
}

a{
    color: #ffffff;
    text-decoration: none;    
}

/* HEADER */
.main-head{
    background: #5e7669;
    background-size: 100vw 20vh;
    color: #ffffff;
    align-items: center;
    padding: 2rem;
}

nav{
    min-height: 3vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1rem;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
}

/* Best movie*/
.best-movie{
    border: solid 0.5rem black;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.movie-title{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}

.button-around{
    padding: 2rem;
}

.play-button{
    text-align: center;

    background-color:#d12a2a;
	border-radius:4rem;
	border:1px solid #fa1717;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3.5rem;
	padding:1rem 4rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.play-button:hover {
	background-color:#ed1717;
}
.play-button:active {
	position:relative;
	top:1px;
}

.best-movie-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}


.movie-sumup{
    font-size: 2rem;
    text-align: justify;
    padding: 2rem;
}

.best-movie-right{
    flex: 1;
    display: flex;
    justify-content: center;
}

.movie-icon-top{
    border: solid 0.5rem black;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    cursor: pointer;
}

/* Movie line */
.movie-line{
    padding: 1rem;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
}

.icons-line{
    display: flex;
    justify-content: space-around;
}

.movie-icon-box{
    display: flex;
    flex: 1;
    justify-content: center;
}

.movie-icon{
    border: solid 0.5rem black;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    cursor: pointer;
}

.arrow-box{
    padding: 0;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow{
    color: black;
    font-size: 3rem;
    background-color: grey;
	border-radius:3rem;
	border:1px solid grey;
    display:inline-block;
	margin:1rem;

    text-align: center;

}

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s;
}

.visible-modal-bg{
    visibility: visible;
    opacity: 1; 
}

.modal{
    background-color: white;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    justify-content: space-between;
}

.movie-details{
    position: relative;
    width: 100%;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.details-head{
    display: flex;
    justify-content: space-between;
}

.modal-close{

    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;

    background-color:#d12a2a;
	border-radius:4rem;
	border:1px solid #fa1717;
	display:inline-block;
	color:#ffffff;
	padding:1rem 1rem;

    text-align: left;

}
.movie-picture-box{
    display: flex;
    justify-content: space-around;
}

.movie-picture{
    display: flex;
    max-width: 100%;
    height: auto;
}
